
* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

 body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

input {
      width: 100%;
      margin: 10px;
      height: 2rem;
      border: none;
      background-color: #ebebeb;
      padding: 0.5rem;
      /* box-shadow: 0.2rem 0.2rem 0.5rem #c5c5c5aa; */
    }

button {
    width: 30%;
    margin: 10px;
}

.qrpage {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myc {
  width: 80%;
  margin: 3vh;
}
.upload-box {
  width: 220px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 2px dashed #4CAF50;
  border-radius: 12px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
}

.upload-box.dragover {
  background-color: #e8f5e9;
  border-color: #2e7d32;
  transform: scale(1.03);
}

.upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keeps square crop */
}

#upload-text {
  padding: 15px;
}

