body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 16px;
  width: 350px;
  background: #f7f7f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 0;
}

button {
  width: 100px;
  margin: 10px;
  padding: 5px;
  border: none;
  background: #4e9f7f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #023C40;
}

#code {
  font-size: 28px;
  font-weight: bold;
  margin: 12px 0;
}

#myc {
  width: 80%;
}

.account-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: white;
  border-radius: 6px;
  margin-bottom: 8px;
}

.otp-code {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}

.upload-box {
  width: 220px;
  padding: 12px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 2px dashed #4CAF50;
  border-radius: 12px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
}

.upload-box.dragover {
  background-color: #e8f5e9;
  border-color: #2e7d32;
  transform: scale(1.03);
}

.upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Keeps square crop */
}

.button-row {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.icon {
  width: 18px;
  height: 18px;
}