# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


# Files

secret-code.js

# Chrome extension

*~
*.DS_store
node_modules

# Temporary directory for debugging extension samples
_debug
_metadata
dist
**/*.swp 
/backup
